<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro CLientes</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
  <h1>Bienvenido</h1>
  <div th:if="${mensaje}" class="alert alert-success" role="alert">
    <span th:text="${mensaje}"></span>
  </div>
  <div th:if="${error}" class="alert alert-success" role="alert">
    <span th:text="${error}"></span>
  </div>
  <div class="registro-form">
    <h2>Registro Clientes</h2>
    <form action="/app/registro" method="post">
      <div class="form-group">
        <label for="nombres">Nombres:</label>
        <input type="text" id="nombres" name="nombres" required>
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required>
      </div>
      <div class="form-group">
        <label for="documento">Documento:</label>
        <input type="number" id="documento" name="documento" required>
      </div>
      <div class="form-group">
        <label for="tipo_documento">Tipo Documento:</label>
        <select name="tipo_documento" id="tipo_documento">
          <option value="" disabled selected hidden="">Selecciona una Opcion</option>
          <option value=1>Cedula</option>
          <option value=2>Nit</option>
        </select>
      </div>
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required>
      </div>
      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>
</body>
</html>
