<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de Solicitud</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container">
  <h1>Detalle de Solicitud</h1>
  <div class="solicitud-details">
    <h2>Datos de la Solicitud</h2>
    <div class="detalle">
      <p><strong>Número de Cedula Solicitud:</strong> 123456</p>
      <p><strong>Nombre:</strong> Juan Pérez</p>
      <p><strong>Correo Electrónico:</strong> juan@example.com</p>
      <p><strong>Ingresos Mensuales:</strong> $2000</p>
      <!-- Aquí puedes mostrar más detalles sobre la solicitud -->
    </div>
    <div class="acciones">
      <h2>Acciones</h2>
      <button class="aprobar">Aprobar Solicitud</button>
      <button class="rechazar">Rechazar Solicitud</button>
    </div>
  </div>
</div>
</body>
</html>
